In [2]:
import pandas as pd
import numpy as np

# Create a Series from a list
data = [10, 20, 30, 40, 50]
s = pd.Series(data)

print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
In [3]: p = pd.Series([1, 3, 5, np.nan, 6, 8])



In [4]: p

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range("20130101", periods=6)

dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

df

                   A         B         C         D
2013-01-01 -0.216080 -0.482912  0.235435  0.850251
2013-01-02 -0.200611  0.914094 -0.058405  0.305241
2013-01-03 -0.885364  0.957473 -1.817529  1.234409
2013-01-04  0.350491 -0.094014 -1.839972  0.187648
2013-01-05  0.335496  0.543498  0.319626  1.010451
2013-01-06  1.430188 -0.464136 -1.004173  0.014588

In [6]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])

In [7]:
df1.loc[dates[0] : dates[1], "E"] = 1

In [8]:
df1

                   A         B         C         D    E
2013-01-01 -0.216080 -0.482912  0.235435  0.850251  1.0
2013-01-02 -0.200611  0.914094 -0.058405  0.305241  1.0
2013-01-03 -0.885364  0.957473 -1.817529  1.234409  NaN
2013-01-04  0.350491 -0.094014 -1.839972  0.187648  NaN

In [9]:
df1.dropna(how="any")

                   A         B         C         D    E
2013-01-01 -0.216080 -0.482912  0.235435  0.850251  1.0
2013-01-02 -0.200611  0.914094 -0.058405  0.305241  1.0

In [10]:
df1.fillna(value=5)

                   A         B         C         D    E
2013-01-01 -0.216080 -0.482912  0.235435  0.850251  1.0
2013-01-02 -0.200611  0.914094 -0.058405  0.305241  1.0
2013-01-03 -0.885364  0.957473 -1.817529  1.234409  5.0
2013-01-04  0.350491 -0.094014 -1.839972  0.187648  5.0

In [11]:
pd.isna(df1)

                A      B      C      D      E
2013-01-01  False  False  False  False  False
2013-01-02  False  False  False  False  False
2013-01-03  False  False  False  False   True
2013-01-04  False  False  False  False   True

In [12]:
df.mean()

A    0.135687
B    0.229000
C   -0.694170
D    0.600431
dtype: float64