In [6]:
import pandas as pd
import numpy as np

# Create a Series from a list
data = [10, 20, 30, 40, 50]
s = pd.Series(data)

print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [7]:
In [3]: p = pd.Series([1, 3, 5, np.nan, 6, 8])



In [4]: p

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [8]:
dates = pd.date_range("20130101", periods=6)

dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

df

                   A         B         C         D
2013-01-01 -0.380406  0.028177 -1.017876 -1.163503
2013-01-02  0.867438 -1.966481 -0.957541  0.356254
2013-01-03  0.015313  1.210952  0.696286 -0.460985
2013-01-04  1.832450 -2.793149  0.389481 -0.139372
2013-01-05 -0.304531 -1.946036 -0.943141  0.796171
2013-01-06  1.739194 -1.331359 -0.197241  0.101344

In [10]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])

In [11]:
df1.loc[dates[0] : dates[1], "E"] = 1

In [12]:
df1

                   A         B         C         D    E
2013-01-01 -0.380406  0.028177 -1.017876 -1.163503  1.0
2013-01-02  0.867438 -1.966481 -0.957541  0.356254  1.0
2013-01-03  0.015313  1.210952  0.696286 -0.460985  NaN
2013-01-04  1.832450 -2.793149  0.389481 -0.139372  NaN

In [13]:
df1.dropna(how="any")

                   A         B         C         D    E
2013-01-01 -0.380406  0.028177 -1.017876 -1.163503  1.0
2013-01-02  0.867438 -1.966481 -0.957541  0.356254  1.0

In [14]:
df1.fillna(value=5)

                   A         B         C         D    E
2013-01-01 -0.380406  0.028177 -1.017876 -1.163503  1.0
2013-01-02  0.867438 -1.966481 -0.957541  0.356254  1.0
2013-01-03  0.015313  1.210952  0.696286 -0.460985  5.0
2013-01-04  1.832450 -2.793149  0.389481 -0.139372  5.0

In [15]:
pd.isna(df1)

                A      B      C      D      E
2013-01-01  False  False  False  False  False
2013-01-02  False  False  False  False  False
2013-01-03  False  False  False  False   True
2013-01-04  False  False  False  False   True

In [16]:
df.mean()

A    0.628243
B   -1.132983
C   -0.338339
D   -0.085015
dtype: float64

In [17]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)